@import "lib/bootstrap/less/bootstrap.less";

.no-padding {
  padding: 0;
}

.glyphicon.glyphicon-cloud {
    font-size: 75px;
}

.item-list {
  display: inline-block;
  position: relative;
  margin: 5px;
}

.radio-group {
  display: inline-block;
  position: relative;
}

.radio {
  display: inline-block;
  margin: 5px;
  text-align: center;
}

.radio.border {
  width: 100px;
  height: 100px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

.radio.border.selected {
  color: lightblue;
  border: 1px solid lightblue;
}

.data-center-region {
  display: inline-block;
  width: 120px;
  height: 50px;
  border: 1px solid lightgrey;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.data-center-region.selected {
  color: lightblue;
  border: 1px solid lightblue;
}

.site {
  display: inline-block;
  height: 20px;
  border: 1px solid lightgrey;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.site.site1 {
  width: 120px;
}

.site.site1.selected {
  color: lightblue;
  border: 1px solid lightblue;
}

.site.site2 {
  width: 60px;
}

.site.site3 {
  width: 40px;
}

.site.selected {
  color: lightblue;
  border: 1px solid lightblue;
}

.page-header.tab {
  padding-bottom: 0px;
}

.panel-tab {
  margin-top: 20px;
}

.panel-tab > div {
  display: inline-block;
  height: 30px;
  width: 150px;
  cursor: pointer;
}

.panel-tab > div.selected {
  font-weight: bold;
  color: lightblue;
  position: relative;
  top: 1px;
  border-bottom: 2px solid lightblue;
}
