@(webJarAssets: WebJarAssets)
@main("Add Droplet", webJarAssets) {
  <form method="POST" action="@routes.DropletController.addDroplet()">
    <div id="root"></div>
    <script src="@routes.Assets.at("javascripts/create.js")" type="text/javascript"></script>
    <div className="droplet-hostname">
      <div className="hostname-panel">
        <div className="page-header">
          <h3>Finalize and create</h3>
        </div>
        <h4>Choose a hostname</h4>
        <input type="text" name="name" value=""/>
      </div>
    </div>
    <br/><br/>
    <button>Add Droplet</button>
    <br/><br/>
  </form>
}
