@(webJarAssets: WebJarAssets)
@main("Droplets", webJarAssets) {
    <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

    <div class="page-header">
      <h1>
        <button type="button" class="btn btn-default btn-sm" onclick="location.href='@controllers.routes.DropletController.createDroplet()';">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
        Droplets
      </h1>

      <div class="table-responsive">
        <table id="droplets" class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>IP Address</th>
              <th>Created</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
}
